{% extends 'base.html' %}

{% block content %}
    <div>User: {{ request.user }}</div>
    <div>Authenticated: {{ request.user.is_authenticated }}</div>
    <a href="{% url 'members:logout' %}">로그아웃</a>

    <div>
        <a href="{% url 'posts:post-create' %}">포스트 추가</a>
    </div>

    {% for post in posts %}
        <div>글내용  :   {{ post.content }}</div>
        <div>작성자  :   {{ post.author }}</div>
        <div>작성시  :   {{ post.created }}</div>

        <!-- 이미지 나열 -->
        <div>
            {% for post_image in post.postimage_set.all %}
            <div>{{post_image.image.url }}</div>
                <img src="{{ post_image.image.url }}" alt="" style="max-width: 200px;">
            {% endfor %}
        </div>


    <form action="{% url 'posts:post-like' pk=post.pk %}" method="post">
        {% csrf_token %}
        {% if user in post.like_user.all %}
            <button class="btn btn-primary" type="submit">좋아요 취소</button>
        {% else %}
            <button class="btn btn-outline-primary" type="submit">좋아요</button>
        {% endif %}
    </form>


        <div>
                <!-- Comment를 나열 -->
            <ul>
            {% for comment in post.postcomment_set.all %}
                <li>
                    <b>{{ comment.author.name }}</b>
                    <div>글내용: {{ post.content_html|safe }}</div>
                </li>
            {% endfor %}
            </ul>


            <div>
                <!-- Comment를 작성하는 Form -->
                <form action="{% url 'posts:comment-create' post_pk=post.pk %}" method="POST">
                    {% csrf_token %}
                    {{ comment_form }}
                    <button type="submit">작성</button>
                </form>
            </div>
        </div>
        <hr>
    {% endfor %}


{% endblock %}

